@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Section 1</h2>
        <ul>
            <li><a asp-page="Alerts">Alerts</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Section 2</h2>
        <ul>
            <li><a asp-page="Alerts">Alerts</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Section 3</h2>
        <ul>
            <li><a asp-page="Alerts">Alerts</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Section 4</h2>
        <ul>
            <li><a asp-page="Alerts">Alerts</a></li>
        </ul>
    </div>
</div>
